@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.doctors-section {
  background-color: #f8f9fa !important;
}

.doctors-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* height: 380px; */
}
.doctor-image{
  width:100px;
  height:100px;

}


.blogs {
  background-color: #f8f9fa !important;

}
.rocket{
  width:200px;
  position: absolute;

  bottom:0;
animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0%{
    bottom:0;
    opacity:0;
  }
  100%{
    bottom:105%;
    opacity:1;
  }
}


